<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>{{this.member.firstName }}  {{this.member.lastName }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-list lines="full" class="ion-no-margin">
  <ion-item>
    <ion-label position="floating">Surname</ion-label>
    <ion-input type="text" [(ngModel)]="this.member.lastName" placeholder="Enter surname" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">First Name</ion-label>
    <ion-input type="text" [(ngModel)]="this.member.firstName" placeholder="Enter your first name" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Other Names</ion-label>
    <ion-input type="text" [(ngModel)]="this.member.otherNames" placeholder="Enter your other names" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Date of Birth</ion-label>
    <ion-datetime value="2019-10-01T15:43:40.394Z" display-timezone="utc" [(ngModel)]="this.member.dob"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Address</ion-label>
    <ion-input type="text" [(ngModel)]="this.member.houseAddress" placeholder="Enter your Address" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Email Address</ion-label>
    <ion-input type="text" [(ngModel)]="this.member.email" placeholder="Enter your email address" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Mobile Number</ion-label>
    <ion-input type="text" [(ngModel)]="this.member.mobileNumber" placeholder="Enter your mobile number" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Alternate Mobile Number</ion-label>
    <ion-input type="text" [(ngModel)]="this.member.altMobileNumber" placeholder="Enter your alternate mobile number" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Mother's Name</ion-label>
    <ion-input type="text" [(ngModel)]="this.member.motherName" placeholder="Enter your Address" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Father's Name</ion-label>
    <ion-input type="text" [(ngModel)]="this.member.fatherName" placeholder="Enter your Address" ></ion-input>
  </ion-item>
</ion-list>

<ion-button color="danger" (click)="deleteMember(this.member.id)"><ion-icon name="trash-outline"></ion-icon>Delete</ion-button>
<ion-button color="primary" (click)="updateMember(this.member)"><ion-icon name="save-outline"></ion-icon>Update</ion-button>
